<div class="container mt-5">
  <!-- Form to add new activity -->
  <form (ngSubmit)="addActivity()" #activityForm="ngForm" class="mb-4">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        id="title"
        class="form-control"
        required
        [(ngModel)]="newActivity.title"
        name="title"
      />
    </div>
    <div class="mb-3">
      <label for="dueDate" class="form-label">Due Date</label>
      <input
        type="date"
        id="dueDate"
        class="form-control"
        required
        [(ngModel)]="newActivity.dueDate"
        name="dueDate"
      />
    </div>
    <div class="mb-3">
      <label for="completed" class="form-label">Completed</label>
      <select
        id="completed"
        class="form-select"
        required
        [(ngModel)]="newActivity.completed"
        name="completed"
      >
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Add Activity</button>
  </form>
</div>

<div class="container mt-5">
  <h1 class="mb-4">Activities</h1>
  <div class="list-group">
    <div *ngFor="let activity of data" class="list-group-item">
      <h5 class="mb-1 fw-bold">{{ activity.title }}</h5>
      <p class="mb-1">Date: {{ activity.dueDate | date }}</p>
      <p class="mb-1 fw-light">
        Completion Status:
        <span *ngIf="activity.completed; else notCompleted">
          <i class="bi bi-check-circle-fill text-success"></i>
        </span>
        <ng-template #notCompleted>
          <i class="bi bi-x-circle-fill text-danger"></i>
        </ng-template>
      </p>
      <div>
        <button class="btn btn-success" (click)="handleUpdate(activity)">
          Update
        </button>
        <button class="btn btn-danger mx-3" (click)="deleteItem(activity.id)">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
