<!-- register.component.html -->
<div class="container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="saveRegisterForm()">
    <!-- Name Field -->
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter name"
        formControlName="name"
      />
      <div
        *ngIf="
          registerForm.get('name')?.invalid &&
          (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)
        "
        class="text-danger"
      >
        <small *ngIf="registerForm.get('name')?.errors?.['required']"
          >Name is required.</small
        >
      </div>
    </div>

    <!-- Email Field -->
    <div class="mb-3">
      <label for="emailId" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="emailId"
        placeholder="Enter email"
        formControlName="emailId"
      />
      <div
        *ngIf="
          registerForm.get('emailId')?.invalid &&
          (registerForm.get('emailId')?.dirty ||
            registerForm.get('emailId')?.touched)
        "
        class="text-danger"
      >
        <small *ngIf="registerForm.get('emailId')?.errors?.['required']"
          >Email is required.</small
        >
        <small *ngIf="registerForm.get('emailId')?.errors?.['email']"
          >Email must be a valid email address.</small
        >
      </div>
    </div>

    <!-- Password Field -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
      <div
        *ngIf="
          registerForm.get('password')?.invalid &&
          (registerForm.get('password')?.dirty ||
            registerForm.get('password')?.touched)
        "
        class="text-danger"
      >
        <small *ngIf="registerForm.get('password')?.errors?.['required']"
          >Password is required.</small
        >
        <small *ngIf="registerForm.get('password')?.errors?.['minlength']"
          >Password must be at least 6 characters long.</small
        >
      </div>
    </div>

    <!-- Gender Field -->
    <div class="mb-3">
      <label class="form-label">Gender</label>
      <div class="form-check">
        <input
          type="radio"
          id="_male"
          class="form-check-input"
          value="male"
          formControlName="gender"
        />
        <label class="form-check-label" for="_male"> Male </label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          id="_female"
          class="form-check-input"
          value="female"
          formControlName="gender"
        />
        <label class="form-check-label" for="_female"> Female </label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          id="_others"
          class="form-check-input"
          value="others"
          formControlName="gender"
        />
        <label class="form-check-label" for="_others"> Others </label>
      </div>
      <div
        *ngIf="
          registerForm.get('gender')?.invalid &&
          (registerForm.get('gender')?.dirty ||
            registerForm.get('gender')?.touched)
        "
        class="text-danger"
      >
        <small *ngIf="registerForm.get('gender')?.errors?.['required']"
          >Gender is required.</small
        >
      </div>
    </div>

    <!-- Hobbies Field -->
    <div class="mb-3" formGroupName="hobbies">
      <label class="form-label">Hobbies</label>
      <div class="form-check">
        <input
          type="checkbox"
          id="reading"
          class="form-check-input"
          formControlName="reading"
        />
        <label class="form-check-label" for="reading"> Reading </label>
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          id="traveling"
          class="form-check-input"
          formControlName="traveling"
        />
        <label class="form-check-label" for="traveling"> Traveling </label>
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          id="cooking"
          class="form-check-input"
          formControlName="cooking"
        />
        <label class="form-check-label" for="cooking"> Cooking </label>
      </div>
    </div>

    <!-- Country Field -->
    <div class="mb-3">
      <label for="country" class="form-label">Country</label>
      <select class="form-select" id="country" formControlName="country">
        <option value="">Select Country</option>
        <option value="USA">USA</option>
        <option value="Canada">Canada</option>
        <option value="India">India</option>
      </select>
      <div
        *ngIf="
          registerForm.get('country')?.invalid &&
          (registerForm.get('country')?.dirty ||
            registerForm.get('country')?.touched)
        "
        class="text-danger"
      >
        <small *ngIf="registerForm.get('country')?.errors?.['required']"
          >Country is required.</small
        >
      </div>
    </div>

    <!-- Date of Birth Field -->
    <div class="mb-3">
      <label for="dob" class="form-label">Date of Birth</label>
      <input type="date" class="form-control" id="dob" formControlName="dob" />
      <div
        *ngIf="
          registerForm.get('dob')?.invalid &&
          (registerForm.get('dob')?.dirty || registerForm.get('dob')?.touched)
        "
        class="text-danger"
      >
        <small *ngIf="registerForm.get('dob')?.errors?.['required']"
          >Date of Birth is required.</small
        >
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
  </form>
</div>
